body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#logo-container {
    position: relative;
    text-align: center;
}

#text {
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #FF5733;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: text-flame 2s infinite alternate, text-transform 5s ease-in-out infinite;
}

@keyframes text-flame {
    0% {
        text-shadow: 0 0 5px #FF5733, 0 0 10px #FF5733, 0 0 15px #FF5733, 0 0 20px #FF5733;
    }
    100% {
        text-shadow: 0 0 15px #FF5733, 0 0 30px #FF5733, 0 0 45px #FF5733, 0 0 60px #FF5733;
    }
}

@keyframes text-transform {
    0% {
        font-size: 50px;
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
    50% {
        font-size: 70px;
        transform: translate(-50%, -50%) scale(1.5) rotate(90deg);
    }
    100% {
        font-size: 100px;
        transform: translate(-50%, -50%) scale(2) rotate(360deg);
    }
}
